<div class="row">
  <div class="medium-1 columns" style="width: 16%;" >
   &nbsp;
  </div>
  <div class="medium-8 columns" >
      <%= form_for @user, :html => { :multipart => true }  do |f| %>
      	<% if @user.errors.any? %>
          <div id="error_explanation">
            <p><%= pluralize(@user.errors.messages.map{|key, val| key.to_s + ' ' + val[0]}.count, 
              "error") %> prohibited this user from being saved:<p>

            <ul>
            <% @user.errors.messages.map{|key, val| key.to_s + ' ' + val[0]}.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
  </div>
    <div class="medium columns" style="width: 16%;" >
   &nbsp;
  </div>
</div>

<div class="row">
  <div class="medium-1 columns" style="width: 16%;" >
   &nbsp;
  </div>


  <div class="medium-4 columns" >
      	<p>
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name %>
        </p>

  </div>
  <div class="medium-4 columns" >
        <p>
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name %>
        </p>
  </div>


  <div class="medium columns" >
   &nbsp;
  </div>
</div>



<div class="row">
  <div class="medium-1 columns" style="width: 16%;" >
   &nbsp;
  </div>
  <div class="medium-4 columns" >
        <p>
          <%= f.label :username, "Username" %><br />
          <%= f.text_field :username %>
        </p>
  </div>

  <div class="medium-4 columns" >
        <p>
          <%= f.label :email, "Email Address" %><br />
          <%= f.text_field :email %>
        </p>
  </div>

  
   <div class="medium columns" >
   &nbsp;
  </div>
</div>

<div class="row">
  <div class="medium-1 columns" style="width: 16%;" >
   &nbsp;
  </div>
  <div class="medium-4 columns" >
        <p>
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </p>
  </div>
  <div class="medium-4 columns" >
        <p>
          <%= f.label :password_confirmation, "Confirm Password" %><br />
          <%= f.password_field :password_confirmation %>
        </p>
  </div>
  <div class="medium columns" style="width: 16%;" >
   &nbsp;
  </div>
</div>


<% if admin? %>
<div class="row">
  <div class="medium-4 medium-centered columns" >
        <p>
          <%= f.select :role, User::ROLES, :prompt => "User Role" %>
        </p>
    </div>
</div>
<% else %>
  <%= f.hidden_field :role, :value => 'customer'%>
  
<% end %>



<div class="row">
 <div class="medium-1 columns" style="width: 16%;" >
   &nbsp;
  </div>
  <div class="medium-4 columns " >
        <p>  
          <%= f.label :photo %>
          <%= f.file_field :photo, :class => "button", :style=>"background: white; color: black; outline: none;" %>
        </p>
    </div>
  <div class="medium-4 columns userCenter" >
        </br>
         <p><%= f.submit (@user.new_record? ? "Sign up" : "Update"), :class => "button" %>
            <%= link_to 'Cancel', login_path, :class => 'button alert radius' %>
         </p>
    </div>
     <div class="medium columns" style="width: 16%;" >
   &nbsp;
  </div>
</div>

      <% end %>

