<div class="row">
  <div class="medium-7 columns">
    <h3><%= @user.name %></h3>
<p>
  <b>Email</b>: <%= @user.email %>
</p>
<p>
  <b>Phone</b>: <%= @user.phone %>
</p>

<p>
  <b>Username</b>: <%= @user.username %>
</p>

<% if admin? || manager? || shipper? %>
  <p> 
    <b> Role</b>: <%= @user.role %>
  </p>
  <p>
    <b>Active</b>: <%= @user.active ? 'Yes' : 'No' %>
  </p>

<% end %>

  <a href=<%= edit_user_path(@user) %> class="button">Edit Information</a>

  <%= link_to(eval("schools_path"), class: "button radius") do %>
          &nbsp;See all Schools
        <% end %>

  <%= link_to(eval("new_school_path"), class: "button radius") do %>
          <i class="fa fa-plus"></i>
          &nbsp;Add a New School
  <% end %>




  </div>
</div>