<div class="row">

	<div class="medium-7 medium-centered columns">
	<h3> Hello <%=@user.name %></h3>
	</div>
</div>


<div class="row">
<div class="small-1 columns" style="width: 10%;" >
   &nbsp;
  </div>

	<div class="medium-4 columns">
		<h4> Items by Type </h4>
		<%= pie_chart @all_items.group(:category).count %>
	</div>
	<div class="small-1 columns" style="width: 10%;" >
   &nbsp;
  </div>

	<div class="medium-4 columns">
		<h4> Orders This Month</h4>
		<%= column_chart Order.where('date > ?', Time.now.beginning_of_month).group(:date).count %>
	</div>

<div class="small-1 columns" style="width: 10%;" >
   &nbsp;
  </div>

</div>
 





</br>
</br>

<div class="row">
	<div class="medium-6 medium-centered columns">
		<%= link_to 'Schools', schools_path, :class => 'button radius' %>
		<%= link_to 'Orders', orders_path, :class => 'button radius' %>
		<%= link_to 'Users', users_path, :class => 'button radius' %>
		<%= link_to 'Purchases', purchases_path, :class => 'button radius' %>
		<%= link_to 'Item Prices', item_prices_path, :class => 'button radius' %>
	</div>
</div>


