<div class="row">

	<div class="medium-8 medium-centered columns">
	<h3> Hello Manager</h3>
	</div>
</div>


<div class="row">

	<div class="medium-8 medium-centered columns">
		<%= render :partial => 'reorder_list' %>
	</div>
</div>
 


</br>
</br>

<div class="row">
	<div class="medium-6 medium-centered columns">
		<%= link_to 'Schools', schools_path, :class => 'button radius' %>
		<%= link_to 'Orders', orders_path, :class => 'button radius' %>
		<%= link_to 'Users', users_path, :class => 'button radius' %>
		<%= link_to 'Purchases', purchases_path, :class => 'button radius' %>
		<%= link_to 'Item Prices', item_prices_path, :class => 'button radius' %>
	</div>
</div>


