<div class="row">
  <div class="small-1 columns" style="width: 10%;" >
   &nbsp;
  </div>
  <div class="small-6 columns">
    <div id="mydetails" >
      <%= render :partial => "item_details" %>
    </div>
    <% if @item.inventory_level > 0 && customer? %>
          <p class="text-center"></p>
          <div class="input-group input-number-group">
            <div class="input-group-button">
              <span class="input-number-decrement">-</span>
            </div>
            <input class="input-number" type="number" value="0" min="0" max="1000" style="display: inline;">
            <div class="input-group-button " style="display: inline-table;">
              <span class="input-number-increment">+</span>
            </div>
              <div class="popup" >
                <span class="popuptext" id=<%= "myPopup" + @item.id.to_s%>>Added to Cart!</span>
              </div>
              <a class="cart_add" id=<%= @item.id%>><i id=<%= @item.id%> onclick="add_cart_orderItem(this.id, this)" class="fa fa-shopping-cart" style="padding-left: 0.2cm;"></i></a>
          </div>


      <% elsif guest? %>
        <p> Please login to buy </p>
      <% elsif customer? %>
        <p> Sold Out </p>
      <% end %>
  </div>
  <div class="small-4 columns">
  	<% if admin? || manager? %>
      <div id="myprices">
    	 <%= render :partial => "price_history" unless @price_history.empty?%>
      </div>
   	<% end %> 
    <%= render :partial => "similar_items" unless @similar_items.empty?%>
  </div>
</div>



<% if admin? || manager? %>
	<!-- Add buttons to list all, edit project or destroy object -->
  <div class="row">
    <div class="small-1 columns" style="width: 10%;" >
      &nbsp;
    </div>
  <div class="small-6 columns">    
    
    <%= link_to(new_purchase_path(item_id: @item.id), id: 'new_purchase_link', class: 'button tiny radius', remote: true) do %>
      <i class="fa fa-clipboard"></i>
      &nbsp;Add New Purchase
      <% end %>
  </div>
  <div class="small-1 columns" style="width: 10%;" >
      &nbsp;
    </div>
  </div>

	<%= render partial: "partials/object_options", locals: {model_name: "item", object: @item}  %>
<% end %>