<div class="row">
  <div class="medium-7 columns">
    <h3><%= @school.name %></h3>
<p>
  <b>Street Address Line 1</b>: <%= @school.street_1 %>
</p>
<p>
  <b>Street Address Line 2</b>: <%= @school.street_2 %>
</p>

<p>
  <b>City</b>: <%= @school.city %>
</p>

<p>
  <b>State</b>: <%= @school.state %>
</p>

<p>
  <b>Zip</b>: <%= @school.zip %>
</p>


<p>
  <b>Min Grade</b>: <%= @school.min_grade %>
</p>

<p>
  <b>Max Grade</b>: <%= @school.max_grade %>
</p>

<% if admin? || manager? %>
  <p>
    <b>Active</b>: <%= @school.active ? 'Yes' : 'No' %>
  </p>
<% end %>


  </div>
</div>